.Lotto_Phone{
    background-color: #FFE7E7;
    margin: auto;
    width: 500px;
    height: 600px;
    border: 2px solid #FFE7E7; 
    border-radius: 50px;
    text-align: center; 
}

.Lotto_Display{
    background-color: #FFFFFF;
    margin: 50px auto auto auto;
    width: 400px;
    height: 300px;
    border: 2px solid #FFFFFF; 
    border-radius: 50px;
    text-align: center; 

}

.Winning{
  margin: 50px auto auto auto;
  text-align: left;

}

.Bonus{
  text-align: left;
}


.Start{
  margin-top: -25px;
  padding-top: 170px;
  width: 400px;
  height: 400px;
}

.Re{
  position: absolute;
  top: 600px;
  margin-top: -25px;
}

.Win , .Lose{
  position: absolute;
  top:500px;
  font-size: xx-large;
  width: 400px;
}

.My{
  position: absolute;
  top: 680px;
  width: 400px;
}
