.my-modal .modal-content {
  background-color: #FFE7E7;
}

.my-modal .h4 {
  font-family: "BMHANA";
  font-weight: 700;
}

.my-modal .modal-body, .my-modal .modal-footer {
  background-color: #FFF6F6;
}