.Phone{
  background-color: #FFE7E7;
  margin: auto;
  width: 700px;
  height: 600px;
  border: 2px solid #FFE7E7; 
  border-radius: 50px;
  text-align: center; 
}

.Display{
  background-color: #FFFFFF;
  margin: 50px auto auto auto;
  width: 600px;
  height: 400px;
  border: 2px solid #FFFFFF; 
  border-radius: 50px;
  text-align: center; 
}

.Q{
  font-size: 10px;
  margin-top: 40px;
}

.A{
  font-size: 15px;
  text-align: left;
  margin-top: 40px;
  padding-left: 50px;
}
.Choice{
  height: 10px;
  width: auto;

}
.Choice:hover{
  cursor: pointer;
}

.QuizEnd{
  height: 550px;
}

.EndS{
  margin-top: 170px;
}

.start{
  width: 600px;
  height: 400px;
  padding-top: 150px;
}

.start:hover{
  cursor: pointer;
}