/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.RSP_Phone{
  background-color: #FFE7E7;
  margin: auto;
  width: 500px;
  height: 600px;
  border: 2px solid #FFE7E7; 
  border-radius: 50px;
  text-align: center; 
}

.RSP_Display{
  background-color: #FFFFFF;
  margin: 50px auto auto auto;
  width: 400px;
  height: 300px;
  border: 2px solid #FFFFFF; 
  border-radius: 50px;
  text-align: center; 

}

/*
::selection {
  background-color: #7d2ae8;
  border: 2px solid #7d2ae8;
}
*/
.container {
  width: auto;
  margin: 20px auto auto auto;
}
.result_images {
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
}

.result_images img {
  width: 100px;
  margin-top: 20px;
  
}

.result {
  text-align: center;
  font-size: 2rem;
  color: #7d2ae8;
  margin-top: 1.5rem;
  
}

.option_image img {
  width: 50px;
}
.option_images {

  width: 400px;
  display: flex;
  align-items: center;
  margin-top: 10rem;
  justify-content: space-between;
}
.container.start .option_images {
  pointer-events: none;
}
.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.option_image:hover {
  opacity: 1;
}
.option_image.active {
  opacity: 1;
}
.option_image img {
  pointer-events: none;
}
.option_image p {
  color: #7d2ae8;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}

