.Tictactoe_Phone{
  background-color: #FFE7E7;
  margin: auto;
  width: 500px;
  height: 600px;
  border: 2px solid #FFE7E7; 
  border-radius: 50px;
  text-align: center; 
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  table {
    border-collapse: collapse;
    margin: 49px auto auto auto;
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
  }
  
  td {
    border: 1px solid black !important;
    width: 100px;
    height: 100px;
    text-align: center;
  }